$primary-color-text: #E42575;
$color-background-card: rgb(50, 50, 50);
$font-stack: 'Be Vietnam Pro', sans-serif;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box,
}
.auction-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-gap: 20px;  
    align-items: center;
    padding: 0px 90px;
    justify-content: center;
    text-align: center;
  }
  
  .card {
    flex: 1;
    margin: 20px 20px;
    border-radius: 15px;
    padding: 5px;
    background-color: $color-background-card;   
    box-shadow: 0 2px 4px rgb(228, 37, 117, 0.2);

  &__nftName{
    margin: 15px 0px;
    font-size: 1.5rem;
    color: $primary-color-text;
    font-family: $font-stack;
  }
  &__collectionName{
    margin: 15px 0px;
    font-size: 1rem;
    color:#8a8a8a;
    font-weight: 100;
    font-family: $font-stack
  }
  &__price{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: $font-stack;
  }
  
  &__nftImage{
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0px 0px;
  }
}
